<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.commandability">

    <uses-permission android:name="android.permission.INTERNET" />
        <!-- commandability-mod: screen requirements https://developer.android.com/guide/practices/screens-distribution#FilteringTabletApps-->
    <supports-screens 
      android:smallScreens="false"
      android:normalScreens="false"
      android:largeScreens="true"
      android:xlargeScreens="true"/>

    <!-- commandability-mod: android:screenOrientation="landscape"> -->
    <!-- commandability-mod: react-native-bootsplash - change AppTheme to BootTheme -->
    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:screenOrientation="landscape"
      android:theme="@style/BootTheme">
      <!-- commandability-mod: bugfix - add android:exported="true" https://stackoverflow.com/questions/67412084/android-studio-error-manifest-merger-failed-apps-targeting-android-12 -->
      <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
